# Cấu hình Token VietQR API (Nhận từ api.vietqr.org hoặc dev.vietqr.org)
VIETQR_TOKEN=

# Cấu hình Token SePay (Tùy chọn bổ sung)
SEPAY_API_TOKEN=

# Cấu hình Google Gemini AI (Mặc định đã tích hợp sẵn Gemini 3.8 Flash)
GEMINI_API_KEY=AQ.Ab8RN6IFsNYUzFxDIdpvhsncyKNXXXMRfuvb-PV3grdjg_ctsw
